<!DOCTYPE html>
<html>
	<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="content-type" content="text/html; charset=utf-8">

    <!-- Enable responsiveness on mobile devices-->
    <!-- viewport-fit=cover is to support iPhone X rounded corners and notch in landscape-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, viewport-fit=cover">

    <meta name="twitter:card" content="summary" />
    <meta name="twitter:description" content="{% block twitter_desc %}{{ config.title }}{% endblock twitter_desc %}" />

    <title>{% block title %}{{ config.title }}{% endblock title %}</title>

    <!-- CSS -->
    <link rel="stylesheet" href="{{ get_url(path="css/nanum-gothic-coding.css", trailing_slash=false) }}" media="print">
    <link rel="stylesheet" href="{{ get_url(path="css/style.css", trailing_slash=false) }}">

    {% if config.generate_feed %}
      <link rel="alternate" type={% if config.feed_filename == "atom.xml" %}"application/atom+xml"{% else %}"application/rss+xml"{% endif %} title="RSS" href="{{ get_url(path=config.feed_filename) | safe }}">
    {% endif %}

    {% block extra_head %}
    {% endblock extra_head %}
  </head>
  <body>

  {% block header %}
  {% endblock header %}

  {% block body %}
  {% endblock body %}
  </body>
</html>
