{% if config.extra.shimong_menu %}
<nav itemscope itemtype="http://schema.org/SiteNavigationElement">
{% for item in config.extra.shimong_menu %}
    <a itemprop="url"
        class="{% if item.url | replace(from="$BASE_URL", to=config.base_url) == current_url %}active{% endif %}"
        href="{{ item.url | safe | replace(from="$BASE_URL", to=config.base_url) }}">
        <span itemprop="name">{{ item.name }}</span></a> {% if not loop.last %} &middot; {% endif %}
{% endfor %}
</nav>
{% endif %}
