{% extends "base.html" %}

{% block header %}
{% include "header.html" %}
{% endblock header %}

{% block meta_content %}
<title>{{ page.title }}</title>
<meta name="twitter:title" content="{{ page.title }}">
<meta property="og:title" content="{{ page.title }}" />
{% endblock meta_content %}

{% block body %}
<div id="main">
  {% include "nav.html" %}
  <main>
    <article>
      <header>
        <h1>{{ page.title }}</h1>
        {% if page.date %}
        <time datetime='{{ page.date | date(format="%Y-%m-%d %H:%M:%S") }}'>{{ page.date | date(format="%Y-%m-%d")}}</time>
        {% endif %}
        {% if page.taxonomies.categories %}
            {% set category = page.taxonomies.categories[0] %}
            in <a href="{{ get_taxonomy_url(kind="categories", name=category) | safe }}">{{ category }}</a>
        {% endif %}

        {% if page.taxonomies.tags %}
          {% if page.taxonomies.categories %}and{% endif %}
          tagged
          {% for tag in page.taxonomies.tags %}
              <a href="{{ get_taxonomy_url(kind="tags", name=tag) | safe }}">{{ tag }}</a>
              {% if page.taxonomies.tags | length > 1 %}
                  {% if loop.index != page.taxonomies.tags | length %}
                      {% if loop.index == page.taxonomies.tags | length - 1 %}
                          and
                      {% else %}
                          ,
                      {% endif %}
                  {% endif %}
              {% endif %}
          {% endfor %}
        {% endif %}
      </header>

      {{ page.content | safe }}

      {% block page_footer %}
        <footer>
            <hr>
            {% block extra_footer %}
            {% endblock extra_footer %}
        </footer>
    {% endblock page_footer %}
    </article>
  </main>
</div>
{% endblock body %}
